logging:
  level:
    root: INFO

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus,refresh

spring:
  security:
    user:
      name: ${ACTUATOR_USER:actuator}
      password: ${ACTUATOR_PASSWORD:change-me}
      roles: ACTUATOR
