apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: microservices

resources:
  - namespace.yaml
  - configmap.yaml
  - secrets.yaml
  - rbac.yaml

commonLabels:
  project: microservices-demo
  managed-by: kustomize
