apiVersion: v1
kind: Service
metadata:
  name: order-service
  namespace: microservices
  labels:
    app: order-service
spec:
  type: ClusterIP
  ports:
    - port: 8004
      targetPort: 8004
      protocol: TCP
      name: http
    - port: 20881
      targetPort: 20881
      protocol: TCP
      name: dubbo
  selector:
    app: order-service
