apiVersion: v1
kind: Service
metadata:
  name: user-service
  namespace: microservices
  labels:
    app: user-service
spec:
  type: ClusterIP
  ports:
    - port: 8001
      targetPort: 8001
      protocol: TCP
      name: http
    - port: 20880
      targetPort: 20880
      protocol: TCP
      name: dubbo
  selector:
    app: user-service
